.cart-page{
    max-width: 80%;
    min-width: 75%;

    margin: auto;
    height: 100%;
}
.cart-detail{
    height: 100%;
}
.cart-head {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.your-cart{
    font-size: 1rem;
}
.item-numbers{
    color: #757575;
    padding-top: 15px;
    font-size: 0.8rem;
}
.item-image {
    height: 75px;
    width: 75px;
}
.product{
    display: flex;
    align-items: center;
}
.item-name{
    padding-left: 1.5rem;
}
.item-detail{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.checkout{
    display: flex;
    justify-content: flex-end;
}
.quality, .size, .price {
    color: #757575;
    font-size: 0.8rem;
}
.item-name{
    font-size: 0.8rem;
    color: black;
}
.checkout {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.checkout div {
    padding-left: 20px;
}

.checkout h3 {
    font-weight: bold;
    color: black;
    font-size: 0.8rem;
}

.checkout-button button {
    cursor: pointer;
    padding: 10px 40px 10px 40px;
    background-color: white;
    border: 2px solid black;
    margin-left: 45px;
}
.dropdown-button {
    background-color: white;
    border: 0px;
}


@media only screen and (max-width: 768px){
    .footer{
        display: none;
    }
    .checkout div{
        padding: 0px;
    }
    .checkout-button{
        margin: 0px;
        width: 100%;
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
    }
    .checkout-button button {
        padding: 20px;
        margin: 0;
        width: 100%;
        background-color: #172c50;
        color: white;
    }
}