body {
    font-family: 'Roboto', 'Noto', sans-serif;
    color: #202020;
    margin: auto 25px;
}

.checkout-page {
    width: 100%;
    height: 100%;
}

.checkout-details div {
    padding: 20px 0px;
}

.checkout-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 0px 30px 0px;
}

.checkout-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.checkout-head h3 {
    color: #757575;
    font-size: 0.8rem;
    padding: 8px 0px 8px 0px;
}

.account-info,
.payment-details {
    max-width: 70%;
    margin: 0px auto;
}

.checkout-details input,
.Country-button,
select {
    width: 100%;
    border: 0px;
    border-bottom: 1px solid #757575;
    background-color: white;
    padding-bottom: 10px;
}

.account-head h3,
.address-head h3,
.payment-head h3,
.billing h3,
.order-sumaary>h3 {
    font-size: 0.8rem;
    font-weight: bold;
}

.Country-dropdown h3,
.order-sumaary *,
.calendar-head h3 {
    font-size: 0.8rem;
}

.cvv {
    width: 100%;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.calendar select {
    width: 100%;
    background-color: white;
    border: 0px;
    border-bottom: 1px solid #757575;
}

.state-detail {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.state-detail div {
    width: 100%;
}

#country {
    padding-top: 0px;
}

.Country-dropdown h3 {
    padding-bottom: 10px;
}

.checkbox {
    display: flex;
    align-items: center;
}

.checkbox input {
    margin-right: 15px;
    width: auto;
}

.payment-details {
    margin-left: 40px;
}

.product-detail {
    display: flex;
    justify-content: space-between;
}

.product-price {
    display: flex;
    justify-content: space-between;
}

.order-button {
    width: 50%;
    padding: 10px 0px;
    background-color: white;
    border: 2px solid black;
}


@media only screen and (max-width: 768px) {
    .checkout-details {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .checkout-details {
        padding: 0px;
        width: 100%;
    }

    .account-info,
    .payment-details {
        max-width: 100%;
        margin: 0px;
    }

    .order-button {
        width: 100%;
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        color: white;
        padding: 15px 0px;
        background-color: #172c50;
    }

    .order-sumaary {
        margin-bottom: 80px;
    }

    .footer {
        display: none;
        overflow: hidden;
    }
}