body {
    font-family: 'Roboto', 'Noto', sans-serif;
    color: #202020;
}

.main-section {
    width: 100%;
    min-height: 100%;
    
}

.main-section section img {
    width: 100%;
    height: 40%;
    object-fit: cover;
}

.t-shirts section {
    width: 50%;
    height: 100%;
}

.t-shirts {
    display: flex;
}

.main-section section {
    text-align: center
}

.main-section section h3 {
    margin: 30px 0px 15px 0px;
    font-size: 1rem;
}

.main-section section button {
    cursor: pointer;
    padding: 11px 40px;
    background-color: white;
    border: 2px solid black;
    margin: 15px 0px 30px 0px;
}

@media only screen and (max-width: 550px) {
    .main-section section img {
        width: 100%;
        height: 28%;
        object-fit: cover;
    }

    .nav {
        display: none;
    }
}

@media only screen and (max-width: 768px) and (min-width: 550) {
    .main-section section img {
        width: 100%;
        height: 30%;
        object-fit: cover;
    }
}