body {
    font-family: 'Roboto', 'Noto', sans-serif;
    color: #202020;

}

.product-list-page {
    height: 100%;
    width: 100%;
    position: relative;
}

.back-button {
    display: inline-block;
    position: absolute;
    left: 25px;
    top: 25px;
}

.add-cart-button {
    margin-top: 10px;
    padding: 10px 40px 10px 40px;
    background-color: white;
    border: 1px solid rgb(20, 16, 16);
}


.item-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 60px;
    margin-bottom: 100px;
}

.item-image {
    height: 100%;
    text-align: end;
}

.item-image img {
    width: 430px;
    height: auto;
}

.item-specification {
    max-width: 65%;
    margin: auto;
}

.item-name h3 {
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 10px;
}

.item-price h4 {
    padding: 10px 0px 10px 0px;
    color: #757575;
}

.dropdown-container {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    border-top: 1px solid #757575;
    border-bottom: 1px solid #757575;
}

label {
    padding-right: 40px;
}

.dropdown-container div {
    font-size: 0.8rem;
    color: #757575;
    display: flex;
    padding: 15px 0px 15px 0px;
}

.size-dropdown {
    border-bottom: 1px solid #757575;
}

.dropdown-button {
    font-size: 0.9rem;
    width: 100%;
    background-color: white;
    border: 0px;
}


.description {
    padding: 40px 0px 20px 0px;
}

.description h3 {
    font-size: 0.8rem;
    font-weight: bold;
    padding-bottom: 20px;

}

.description p {
    font-size: 0.8rem;
    color: #757575;
    padding-bottom: 10px;
    line-height: 1.2rem;

}

.feature h3 {
    font-size: 1rem;
    color: #757575;
}

.feature ul {
    color: #757575;
    font-size: 0.8rem;
    padding-bottom: 20px;
}

.add-cart-button {
    margin-top: 10px;
    padding: 10px 40px 10px 40px;
    background-color: white;
    border: 2px solid rgb(20, 16, 16);
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .nav {
        display: none;
    }

    .footer {
        display: none;
    }

    .item-details {
        padding: 0px;
        position: relative;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    .item-image {
        text-align: center;
    }

    .item-specification {
        max-width: 75%;
        margin: auto;
    }


    .add-cart-button {
        width: 100%;
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: #172c50;
        color: white;
        padding: 20px;
    }

    .add-button {
        width: 100%;
        position: relative;

    }

}

@media only screen and (max-width: 500px) {

    .item-details {
        grid-gap: 100px;
    }

    .item-image img {
        width: auto;
        height: auto;
    }

    .item-details {
        grid-gap: 20px;
    }

}
