
body {
    font-family: 'Roboto', 'Noto', sans-serif;
    color: #202020;

}

.product-item-page {
    height: 100%;
    width: 100%;
    position: relative;
}

.section-image img {
    width: 100%;
    height: 40%;
    object-fit: cover;
}

.section-item-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-item-text h4 {
    padding: 30px 0px 5px 0px;
}

.section-item-text h6 {
    padding: 5px 0px 5px 0px;
    color: #757575;
}

.section-items div img {
    width: 100%;
    height: auto;
}

.item-name {
    margin-top: 2rem;

}

.item-prize {
    margin-top: 0.3rem;
    margin-bottom: 0.7rem;
}

.section-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 1.5rem;
    justify-items: center;

}

.item-name {
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
}

.item-prize {
    color: #757575;
    font-size: 0.8rem;
    text-align: center;
}
@media only screen and (max-width: 768px) {
    
    .header {
        padding: 30px 0px 10px 0px;
        margin-bottom: 0px;
    }
    
    .heading {
        margin-top: 0px;
    }
    .section-item-text h4 {
        padding: 10px 0px 5px 0px;
    }
    .section-item-text h6 {
        padding: 5px 0px 25px 0px;
    }
    .section-items {
        grid-template-columns: repeat(2, 1fr);
    }

    .section-image img {
        display: none;
    }
    .nav{
        display: none;
    }
}