body {
    font-family: 'Roboto', 'Noto', sans-serif;
    color: #202020;
}

.header {
    display: flex;
    justify-content: center;
    padding: 10px 0px 10px 0px;
    margin-bottom: 1rem;
}

.heading {
    margin-top: 15px;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 0.3em;
}

.cart {
    display: inline-block;
    position: absolute;
    top: 25px;
    right: 25px;
}

.cart {
    font-size: 25px;
}


.nav-items h3 {
    display: inline-block;
    padding: 1rem;
    font-size: 0.8rem;
}

.nav-items {
    display: flex;
    padding: 9px 5px;
}

.nav {
    display: flex;
    justify-content: center;
}


.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-demo {
    position: relative;
    bottom: 0;
    font-size: 0.8rem;
    border: 1px solid black;
    color: white;
    background-color: black;
    padding: 10px 20px 10px 20px;
}

.footer-copyright {
    margin-top: 1rem;
    font-size: 0.8rem;
    color: #757575;
    padding: 10px;
}